{{define "erreurtemplates"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur 404</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <header class="nav-link">
    <img class="logo" src="/static/img/logo/1.png" alt="StreetShop Logo">
    <nav>
      <a href="/home">Accueil</a>
      <a href="/apply">Appliquer</a>
    </nav>
  </header>

  <main>
    <h1 class ="titre">Problèmes de Templates</h1>
    <h1 class ="titre">Veuillez Revenir à l'Acceuil</h1>
  </main>
</body>


</html>
{{end}}